[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V10; sudo sh ejecutar_d-star.sh'
Icon=/home/pi/V10/DSTAR.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir ircDDB
Hidden=false
Comment[es_ES]=EA3EIZ
#