[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'sudo reboot'
Icon=/home/pi/V10/ICONO_REINICIAR_IMAGEN.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=true
Name[es_ES]=Reiniciar IMAGEN
Hidden=false
Comment[es_ES]=EA3EIZ
